.taskCard {
    display: flex;
    flex-direction: row;

    align-items: center;

    width: 100%;
    border-radius: 8px;
    padding: 1rem;
    border: 1px solid var(--gray-400);
    gap: 1rem;

    background-color: transparent;

    transition: ease-out 0.15s;
}
.taskCard:hover {
    background-color: var(--gray-700);

    transition: ease-out 0.15s;
}
.taskCard.completed {
    text-decoration: line-through;
    color: var(--gray-400);
}

.checkBox {
    display: flex;
    align-items: center;

    min-width: 1.5rem;
    min-height: 1.5rem;

    height: fit-content;
}
.checkBox svg {
    cursor: pointer;

    transition: ease-out 0.15s;
}
.checkBox svg:hover {
    color: var(--blue-500);
}
.checkBox.checked svg {
    color: var(--blue-500);
}

.taskInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.taskTitle {
    color: var(--gray-100);
    line-height: 1.6;
}

.taskDescription {
    color: var(--gray-400);
    line-height: 1.6;
}

.editButton {
    display: flex;
    align-items: center;
    height: fit-content;

    padding: 0.5rem;
    border-radius: 8px;

    cursor: pointer;

    transition: ease-out 0.15s;
}
.editButton:hover {
    background-color: var(--gray-600);
    color: var(--blue-500);

    transition: ease-out 0.15s;
}

.taskDate {
    color: var(--gray-400);
}
