.taskCard {
    display: flex;
    flex-direction: row;

    align-content: center;

    box-sizing: border-box;

    width: 100%;
    border-radius: 8px;
    padding: 1rem;
    border: 1px solid gray;
    gap: 1rem;

    background-color: transparent;

    transition: ease-out 0.15s;
}

.taskCard:hover {
    background-color: var(--gray-700);

    transition: ease-out 0.15s;
}

.checkBox {
    display: flex;
    align-content: center;
    justify-content: center;

    min-width: 1rem;
    min-height: 1rem;
}
.checkBox svg {
    cursor: pointer;

    transition: color ease-out 0.15s;
}
.checkBox svg:hover {
    color: var(--blue-500);
}
.checkBox.checked svg {
    color: var(--blue-500);
}

.taskInfo {
    display: flex;
    flex-direction: column;
}

.taskTitle {
    line-height: 1.6;
}

.taskDescription {
    color: var(--gray-400);
    line-height: 1.6;
}