/* src/Header.module.css */
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width:25%;
    /*max-width: 56rem;*/
    padding: 1rem;
    background-color: #1c1c1f;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 3rem;
    height: 3rem;
}

aside > div, button {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

aside div h1 {
    line-height: 1.2;
    font-size: 2rem;
    color: var(--white);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}