#calendar_table {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.calendarContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.calendarButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 0.75rem;
}

.monthName {
  font-size: 1.25rem;
  color: var(--gray-100);
}

.numberDayRowContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.dayRow, .numberDayRow {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.dayRow td, .numberDayRow td {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.625rem;
  height: 2.625rem;
}
.dayRow td h3 {
  font-size: 1rem;
  color: var(--gray-400);
}

.numberDayRow td {
  color: var(--gray-100);
  border-radius: 999px;

  transition: ease-out 0.15s;
}
.numberDayRow td:hover {
  cursor: pointer;
  background-color: var(--gray-800);

  transition: ease-out 0.15s;
}

#tabela_calend td h3 {
  margin: 0;
  font-size: 0.9rem;
  color: #333;
}

@media (max-width: 37.5rem) {
  .fundo {
    width: 95%;
    bottom: 1.25rem;
  }

  #tabela_calend td {
    height: 1.875rem;
    font-size: 0.8rem;
  }
}