.inputFieldContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;

    min-width: 8rem;
    width: 100%;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
    position: relative;
    width: 100%;
}

.inputField {
    width: 100%;
    min-height: 3rem;
    padding: 0.75rem 0.75rem 0.75rem 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    box-sizing: border-box;
    transition: ease-out 0.15s;

    background-color: var(--gray-700);
}
.inputField:hover {
    border: 1px solid var(--gray-400);

    transition: ease-out 0.15s;
}
.inputField:focus,
.inputField:focus-visible {
    outline: 2px auto var(--white);

    transition: ease-out 0.15s;
}

.icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--gray-400);
}