.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 0.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    padding: 1rem;
    gap: 1rem;
}

.contentHeader {
    color: var(--blue-600);
    width: 100%;
    text-align: center;
}

.title {
    color: var(--blue-600);
    width: fit-content;
}
