.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 85%;
  padding: 1rem;
  gap: 1rem;
}
  
.helpTitle {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--blue-600)
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--blue-600);
}

.question {
  display: flex;
  flex-direction: column;
}

.questionTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--blue-700);
}

.sectionContent {
  line-height: 1.6;
}

.contactInfo {
  margin-top: 15px;
  color: var(--gray-400);
}

.contactInfo a {
  color: var(--blue-500);
  text-decoration: none;
}

.contactInfo a:hover {
  text-decoration: underline;
}
