/* src/navbar.module.css */
nav {
    background-color: #1f1f23;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
    margin: 0;
    padding: 0;

    text-decoration: none;
    color: inherit;
}

.navLink {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;

    transition: color 0.15s ease;
}

.navLink:hover {
    color: var(--gray-100);

    transition: color 0.15s ease;
}
