.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerForm {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-800);
    padding: 2rem;
    gap: 1rem;
    border-radius: 8px;
    max-width: 25rem;
    min-width: 30rem;
    width: 100%;
    text-align: center;
}

.formTitle {
    font-size: 1.8rem;
    color: var(--blue-600);
}

.inputField {
    display: flex;
    flex-direction: column;
}

.inputField input {
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: var(--gray-700);
    color: var(--white);
    font-size: 1rem;
    outline: none;

    transition: ease-out 0.15s;
}
.inputField input:focus {
    border: 1px solid var(--blue-500);

    transition: ease-out 0.15s;
}

.signInButton {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--blue-500);
    color: var(--white);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    
    transition: ease-out 0.15s;
}
.signInButton:hover {
    background-color: var(--blue-600);
}

.loginLink {
    color: var(--white);
}
.loginLink a {
    color: var(--blue-500);
    text-decoration: none;

    transition: ease-out 0.15s;
}
.loginLink a:hover {
    color: var(--blue-600);

    transition: ease-out 0.15s;
}
