.signButton {
    background-color: #1f1f23; /* Cor de fundo inicial */
    color: #ffffff; /* Cor do texto */
    border: none; /* Remove bordas */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito para dar destaque */
    transition: background-color 0.3s ease /* Animações */
}

.signButton:hover {
    background-color: #1e40af; /* Azul escuro ao passar o mouse */
}
