.container a {
    width: 100%;
}

.signButton {
    background-color: #1f1f23;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    
    width: 100%;
    height: fit-content;
    padding: 0.75rem 1rem;
}

.signButton:hover {
    background-color: #1e40af;
}
