.newTaskForm {
    display: flex;
    flex-direction: column;

    align-content: center;

    box-sizing: border-box;

    width: 100%;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    outline: 1px solid var(--blue-700);
    gap: 1rem;

    transition: outline ease-out 0.1s;
}
.newTaskForm:focus-within {
    outline: 2px solid var(--blue-700);

    transition: outline ease-out 0.1s;
}

.newTaskContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}

.checkBox {
    display: flex;
    align-content: center;
    justify-content: center;

    min-width: 1rem;
    min-height: 1rem;
    width: 1.5rem;

    color: var(--blue-700);
}

.newTaskInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.newTaskInfo input, textarea {
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    outline: none;
    resize: none;

    line-height: 1.6;

    transition: ease-out 0.15s;
}
.newTaskInfo input:hover, textarea:hover {
    background-color: var(--gray-700);

    transition: ease-out 0.15s;
}
.newTaskInfo input:focus, textarea:focus {
    background-color: var(--gray-700);
}

.newTaskTitle {
    color: var(--gray-200);
}
.newTaskTitle::placeholder {
    line-height: 1.6;
    color: var(--blue-700);
}
.newTaskTitle:focus::placeholder {
    color: var(--gray-200);
}

.newTaskDescription {
    color: var(--gray-200);
    overflow-y: hidden;
    min-height: 1em;
}
.newTaskDescription::placeholder {
    line-height: 1.6;
    color: var(--blue-700);
}
.newTaskDescription:focus::placeholder {
    color: var(--gray-200);
}

.newTaskForm button[type="submit"] {
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;

    color: var(--white);
    background-color: var(--blue-500);
    border: none;

    transition: ease-out 0.15s;
}
.newTaskForm button[type="submit"]:not(:disabled):hover {
    background-color: var(--blue-600);

    transition: ease-out 0.15s;
}
.newTaskForm button[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.newTaskDate {
    color: var(--gray-200);
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    outline: none;
    line-height: 1.6;
    transition: ease-out 0.15s;
}
.newTaskDate::placeholder {
    color: var(--blue-700);
    line-height: 1.6;
}
.newTaskDate:focus::placeholder {
    color: var(--gray-200);
}
